@import 'styles/colors.scss';

.albumContainer {
  margin-top: 10vh;
  .pictureContainer {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    img { 
      height: 200px;
      width: auto;
      margin: 5px;
    }
  }
}

.tag {
  margin: 10px;
  display: inline-block;
}
