@import 'styles/reset.scss';
@import 'styles/colors.scss';

html,
body {
  color: $black;
  background-color: $white;
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 200;
  color: $black;
}



